<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" android:installLocation="internalOnly" android:requiredSplitTypes="base__abi,base__density" android:splitTypes="" package="com.flyersoft.moonreaderp" platformBuildVersionCode="36" platformBuildVersionName="16">
    <queries>
        <package android:name="com.flyersoft.moonreader"/>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SEARCH"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <package android:name="com.dropbox.android"/>
    </queries>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <permission android:name="com.flyersoft.moonreaderp.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.flyersoft.moonreaderp.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:enableOnBackInvokedCallback="false" android:extractNativeLibs="false" android:icon="@drawable/icon" android:label="@string/app_name" android:name="androidx.multidex.MultiDexApplication" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:resizeableActivity="true" android:roundIcon="@drawable/icon_round" android:theme="@style/MRThemeSelector">
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="true" android:label="@string/app_name" android:name="com.flyersoft.moonreaderp.ActivityMain" android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/djvu"/>
                <data android:mimeType="application/x-cbr"/>
                <data android:mimeType="application/x-cbz"/>
                <data android:mimeType="application/comicbook+zip"/>
                <data android:mimeType="application/comicbook+rar"/>
                <data android:mimeType="application/vnd.comicbook+rar"/>
                <data android:mimeType="application/vnd.comicbook+zip"/>
                <data android:mimeType="application/epub"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/mobi"/>
                <data android:mimeType="application/x-mobipocket-ebook"/>
                <data android:mimeType="application/x-kindle-application"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="application/x-rtf"/>
                <data android:mimeType="application/azw"/>
                <data android:mimeType="application/azw3"/>
                <data android:mimeType="application/x-mobi8-ebook"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/x-fictionbook+xml"/>
                <data android:mimeType="application/x-fictionbook"/>
                <data android:mimeType="application/x-fb2"/>
                <data android:mimeType="application/x-zip-compressed-fb2"/>
                <data android:mimeType="application/fb2+zip"/>
                <data android:mimeType="application/fb2.zip"/>
                <data android:mimeType="application/fb2"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <data android:mimeType="message/rfc822"/>
                <data android:mimeType="application/x-chm"/>
                <data android:mimeType="application/chm"/>
                <data android:mimeType="application/vnd.ms-htmlhelp"/>
                <data android:mimeType="application/vnd.oasis.opendocument.text"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*.epub"/>
                <data android:pathPattern=".*.azw3"/>
                <data android:pathPattern=".*.docx"/>
                <data android:pathPattern=".*.odt"/>
                <data android:pathPattern=".*.md"/>
                <data android:pathPattern=".*.rtf"/>
                <data android:pathPattern=".*.mht"/>
                <data android:pathPattern=".*.mhtml"/>
                <data android:pathPattern=".*.fb2"/>
                <data android:pathPattern=".*.fb2.zip"/>
                <data android:pathPattern=".*.mobi"/>
                <data android:pathPattern=".*.txt"/>
                <data android:pathPattern=".*.pdf"/>
                <data android:pathPattern=".*.djvu"/>
                <data android:pathPattern=".*.chm"/>
                <data android:pathPattern=".*.cbz"/>
                <data android:pathPattern=".*.cbr"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.flyersoft.moonreaderp.ActivityTxt" android:resizeableActivity="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.flyersoft.moonreaderp.ClickTip" android:resizeableActivity="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.flyersoft.moonreaderp.PicGalleryShow" android:resizeableActivity="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.flyersoft.moonreaderp.NetBookInfo" android:resizeableActivity="true"/>
        <activity android:name="com.flyersoft.moonreaderp.BookDownloadCancelAct" android:resizeableActivity="true"/>
        <activity android:name="com.flyersoft.moonreaderp.SelectImageAct" android:resizeableActivity="true"/>
        <activity android:name="com.flyersoft.moonreaderp.SelectFileAct" android:resizeableActivity="true"/>
        <activity android:background="@android:drawable/dialog_frame" android:name="com.flyersoft.moonreaderp.MediaAct" android:resizeableActivity="true"/>
        <receiver android:exported="true" android:name="com.flyersoft.components.OpenFile_Receiver">
            <intent-filter>
                <action android:name="com.flyersoft.moonreaderp.open_broadcast"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_HEADSET_PLUG"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="mediaPlayback" android:name="com.flyersoft.moonreaderp.BookTtsService"/>
        <service android:exported="false" android:name="com.flyersoft.moonreaderp.BookDownloadService"/>
        <provider android:authorities="com.flyersoft.moonreaderp.provider" android:name="com.flyersoft.moonreaderp.BookViewProvider"/>
        <provider android:authorities="com.flyersoft.moonreaderp.FileProvider" android:enabled="true" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths"/>
        </provider>
        <activity android:configChanges="keyboard|orientation" android:exported="true" android:launchMode="singleTask" android:name="com.dropbox.core.android.AuthActivity" android:resizeableActivity="true">
            <intent-filter>
                <data android:scheme="db-6zyqydhbaxmhj4d"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.radaee.util.PopupEditAct" android:resizeableActivity="true" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.radaee.util.CaptureSignature" android:resizeableActivity="true" android:theme="@android:style/Theme.DeviceDefault.Dialog"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <receiver android:exported="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.flyersoft.components.WidgetProvider" android:roundIcon="@drawable/icon_round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider"/>
        </receiver>
        <service android:name="com.flyersoft.components.WidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <activity android:exported="true" android:name="com.flyersoft.components.WidgetOptionActivity" android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="com.flyersoft.moonreaderp.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.facebook.soloader.enabled" android:value="false"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="4"/>
    </application>
</manifest>